.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #292f36;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #272b32;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 3px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #36393d;
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
